# Node dependencies
node_modules/
code/node_modules/

# Build output
dist/
build/
code/dist/

# Environment variables / secrets (NOT tests)
.env
.env.development
.env.test
.env.production

# Python
.venv/
__pycache__/

# VS Code
.vscode/

# Docker volumes
db-data/
mongodb-data/
code/mysql/

# Logs
*.log

# Other
code/Flashpost_query
code/Merise